nav {
  background-color: #ADD8E6;
  color: black;
  text-align: center;
  padding: .5em;
}

a:link {
  color: maroon;
}

a:visited {
  color: gray;
}

nav a {
  text-decoration: none;
  margin: 0 10px;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

nav a {
  color: #00008B;  
}