nav {
  background-color: #ADD8E6;
  color: black;
  text-align: center;
  padding: .5em;
}

a:link {
  color: maroon;
}

.skip-link{
  position: absolute;
  left: 0;
  top: -40px;
  background: #000;
  color: #fff;
  padding: 8px;
  z-index: 100;
}

.skip-link:focus {
  top: 0;
}

a:visited {
  color: gray;
}

nav a {
  color: #00008B;        
  text-decoration: none;
  margin: 0 10px;
  font-weight: bold;
  padding: 5px 8px;
  border-radius: 4px;
}

nav a:hover {
  text-decoration: underline;
  background-color:#00008B;
  color: white;
}
/* Lab 10 Changes*/
@media screen and (max-width: 768px) {

  nav a {
    display: block;
    width: 100%;
    margin: 8px 0; 
  }
  nav span {
    display: none;
  }
}

.banner {
  display: block;
  width: 100%;
  height: auto;
}

img.float-left {
  float: left;
  margin-right: 15px;
  margin-bottom: 10px;
}

img.float-right {
  float: right;
  margin-left: 15px;
  margin-bottom: 10px;
}

footer {
  background-color: #f5f5f5;
  padding: 10px;
  overflow: auto; /* ensures the footer contains the floated element */
}

footer .copyright {
  float: left;
  margin: 0;
}

footer .tagline {
  float: right;
  margin: 0;
  font-style: italic;
  color: #333;
}