body {
    font-family: "Trebuchet MS", Arial, sans-serif;
}

h1, h2 {
    color: darkblue;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 8px;
}
s
.evenrow {
    background-color: lightgray;
}